$mobile: 415px;
$tablet: 768px;
$desktop: 1440px;

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
