.layout-container {
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.7fr 1.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header"
    "Map"; 
}